    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About Me</h2>
                <p>Hi my name is Ronald Manganaro. I am a passionate person and what I am passionate about is technology.
                   There is nothing I like more than writing code and playing around with new devices. This is the reason
                   that I chose to major in computer science at the <a href="https://www.uml.edu/">University of Massachusetts Lowell</a>.
                </p>
                <p>
                   I created this website in order to show the world all of the exciting projects I have worked on over the years. On this
                   website you are able to get access to detailed information on a few of the projects I have worked on.  Please also feel
                   free to checkout my github to see the remainder of my projects.
                </p>

                </div>
        </div>
    </section>
