    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Resume</h2>
                    <p>Below is a link to my resume. Feel free to take a look.</p>
                    <a href="resume" class="btn btn-default btn-lg">Visit Resume Page</a>
                </div>
            </div>
        </div>
    </section>
