<section id="projects" class="container content-section text-center">
    <div class="row">
        <div>
          <h2>Projects</h2>
          <p>You can access more detailed information about the following 3 projects:</p>
          <table class="tbl-projects">
            <tr>
              <td><p class="small">FFA: Free For All is a Wii U game that was being developed for the Nintendo Wii U</p></td>
              <td><p class="small">This Blackjack app runs on linux and was created with C++. It follows the MVC software development pattern.
                 The graphics and audio are handled by SFML: Super Fast media library </p></td>
              <td><p class="small">Running Buddy is an adroid application that helps the user schedule a run and give out tips to help the user run better.</p></td>
            </tr>
           <tr>
             <td><img src="img/Turn2.png" width="160vw" height="160vh"></img></td>
             <td><img src="img/Turn2.png" width="160vw" height="160vh"></img></td>
             <td><img src="img/RunningBuddyDiagram.png" width="160vw" height="160vh"></img></td>
           </tr>
           <tr>
             <td><a href="" class="btn btn-default btn-lg">FFA: Free For All</a></td>
             <td><a href="" class="btn btn-default btn-lg">Blackjack</a></td>
             <td><a href="" class="btn btn-default btn-lg">Running Buddy</a></td>
           </tr>
         </table>




        </div>
    </div>
</section>
