
<!-- Download Section -->
<section id="tutoring" class="content-section text-center">
    <div class="tutoring-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Resume</h2>
                <p>Below is a link to my resume. Feel free to take a look.</p>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Resume Page</a>
            </div>
        </div>
    </div>
</section>
