
<!-- Download Section -->
<section id="tutoring" class="content-section text-center">
    <div class="tutoring-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Tutoring</h2>
                <p>In my spare time I also enjoy tutoring aspiring programmers. I teach intro to:</p>
                <ol class="leftalign">
                  <li>Programming/Linux OS using C</li>
                  <li>Object Oriented Programming using C++</li>
                  <li>Game Development with Unity3d using C#</li>
                  <li>Android Development using Java/XML</li>
                </ol>
                <a href="http://startbootstrap.com/template-overviews/grayscale/" class="btn btn-default btn-lg">Visit Resume Page</a>
            </div>
        </div>
    </div>
</section>
